body {
	background-image: url('./images/light.gif');
	background-color: deeppink !important;
}

.App {
	display: flex;
	flex-direction: row;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.spotify__container, .image__container {
	margin-top: 10px;
	height: 45vh;
	/* width: 30vw; */
}

.spotify__container {
	/* margin-left: 6px; */
	width: 30vw;
}

.card__container, .countdown {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.card__container {
	/* display: none; */
}

.countdown {
	margin-top: 38vh;
}

h1 {
	background-color: green;
}