body {
	background-image: url('./images/light.gif');
	background-color: deeppink !important;
}

.App {
	display: flex;
	flex-direction: row;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.spotify__container, .image__container {
	margin-top: 10px;
	height: 45vh;
	/* width: 30vw; */
}

.spotify__container {
	/* margin-left: 6px; */
	width: 30vw;
}

.card__container, .countdown {
	display: flex;
	justify-content: center;
}

.countdown {
	margin-top: 38vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	background-color: green;
}

.card {
	width: 50%;
	margin-top: 10px;
}

.card img {
	width: 50%;
	margin: 0 auto;
}
.card__container {
	/* flex-direction: column; */
	align-items: center;
  }

@media screen and (max-width: 600px) {
	.card  {
		margin-top: 0;
		width: 80%;
	}
	.card__container {
		flex-direction: column;
	}
  }